<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>Test print</h1>
  <hr>
  <h3 style='color: red'>Using html-pdf lib with ejs for dynamic html variables</h3>

  <p><b>FOO:</b> <%= foo %></p>
  <p><b>PING:</b> <%= ping %></p>
</body>

</html>